<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en"
	data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ICC">
<title>Layout Edit</title>
<link rel="apple-touch-icon"
	th:href="@{/app-assets/images/ico/apple-icon-120.png}">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/app-assets/images/ico/favicon.ico}">
<link
	href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
	rel="stylesheet">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/vendors.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/vendors/css/tables/datatable/datatables.min.css}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/bootstrap-extended.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/colors.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/components.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/dark-layout.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/themes/semi-dark-layout.css}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">
<!-- END: Custom CSS-->

<style type="text/css">
.table {
	font-family: calibri;
	font-size: 13px;
}

.table td {
	padding-left: 30px;
	text-align: left;
	color: #104E8B;
}

.table thead th {
	background: #E0E0E0;
	font-weight: normal;
	color: #8B7E66;
	
}
.LayoutTable{
	border: none;
	
}
</style>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body
	class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky footer-static  "
	data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

	<!-- BEGIN: Header-->
	<!-- BEGIN: Header-->
	<div th:insert="header"></div>
	<!-- END: Header-->


	<!-- BEGIN: Main Menu-->
	<div th:insert="menu"></div>
	<!-- END: Main Menu-->

	<!-- BEGIN: Content-->
	<div class="app-content content">
		<div class="content-overlay"></div>
		<div class="content-wrapper">
			<div class="content-header row">
				<div class="content-header-left col-12 mb-2 mt-1">
					<div class="row breadcrumbs-top">
						<div class="col-12">
							<h5 class="content-header-title float-left pr-1 mb-0">Profile
								Layout</h5>
							<div class="breadcrumb-wrapper col-12">
								<ol class="breadcrumb p-0 mb-0">
									<li class="breadcrumb-item"><a href="index"><i
											class="bx bx-home-alt"></i></a></li>

								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-body">

				<!-- Zero configuration table -->
				<section id="Layout">
					<div class="row">
						<div class="col-6" >
							<div class="card" style="overflow-x:auto;overflow-y:auto; max-height:250px;">
								<table class="table">
									<thead>
										<tr>
											<th>ORDER NO</th>
											<th>TYPE</th>
											<th>TITLE</th>
											<th>LENGTH</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="profilelayout : ${profilelayouts}" class="profilelayoutTable">
											
											<td class="LineID" th:id="${profilelayout['id']}">
												<div class="checkbox">
                                                        <input type="checkbox" class="checkbox-input ChkboxlayoutRow" th:id="checkbox+${profilelayout['id']}">
                                                        <label th:for="checkbox+${profilelayout['id']}"></label>
                                                  </div>
												<span th:id="'orderID'+${profilelayout['id']}"  th:text="${profilelayout['orderID']}"></span></td>
											<td><span th:id="'lineType'+${profilelayout['id']}" th:text="${profilelayout['lineType']}"></span></td>
											<td><span th:id="'lineTitle'+${profilelayout['id']}" th:text="${profilelayout['lineTitle']}"></span></td>
											<td><span th:id="'lineLength'+${profilelayout['id']}" th:text="${profilelayout['lineLength']}"></span></td>
										</tr>
										
									</tbody>

								</table>
								
							</div>
							<div style="float:right;">
									<input type="hidden" class="profileID" th:value="${profileID}" />
									<button type="button" id="btnlayoutRowDelete" style="float:right;" class="btn btn-secondary mr-1 mb-1">DELETE</button>
									<button type="button" id="btnlayoutRowAdd" style="float:right;" class="btn btn-primary mr-1 mb-1">ADD</button>
								
								</div>
						</div>
						<div class="col-6">
							<div class="card" >
								<h6>Line Information</h6>
								<fieldset class="form-group">
									<table>
										<tr>
											<td><label for="basicInput">ORDER.NO</label> </td>
											<td><label for="basicInput">TYPE</label></td>																												
										<tr>
										<tr>
											<td>
											<input type="hidden" class="form-control" id="LineID" />
											<input type="text" class="form-control" id="orderID" /></td>
											<td style="width:50%">
												<select class="form-control" id="lineType" name="linetype">
													<option value="Header">Header</option>
													<option value="Detail">Detail</option>
													<option value="Trailer">Trailer</option>
													<option value="">--</option>
												</select>
										 	</td>
																												
										<tr>																
									</table>
									
																		
								</fieldset>
								<fieldset class="form-group">
									<table>
										<tr>
											<td><label for="basicInput">TITLE</label> </td>
											<td><label for="basicInput">RECORD LENGTH</label> </td>																	
										<tr>
										<tr>
											<td><input type="text" class="form-control" id="lineTitle" /></td>
											<td><input type="text" class="form-control" id="lineLength" /></td>																	
										<tr>																
									</table>
								</fieldset>
								
								<fieldset class="form-group">								
									<button type="button" id="updateLayoutInfo" style="float:right;" class="btn btn-light-primary mr-1 mb-1">UPDATE</button>
								</fieldset>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-12">
							<div class="card" style="overflow-x:auto;">
								<table class="table" >
									<thead>
										<tr>
											<th>S.No</th>
											<th>FieldName</th>
											<th>(Start,End)</th>
											<th>DataType</th>
											<th>Default_Value</th>
											<th>Min</th>
											<th>Max</th>											
											<th>Generate_Type</th>
											<th>Custom_Data_Format</th>
										</tr>
									</thead>
									<tbody>
										<tr data-toggle="modal" data-target="#exampleModalScrollable">
											<td>1</td>
											<td>File Header</td>
											<td>File Header</td>
											<td>File Header</td>
											<td>File Header</td>
											<td>File Header</td>
											<td>File Header</td>
											<td>File Header</td>
											<td>File Header</td>
										</tr>
									</tbody>

								</table>
								<div >
									<button type="button" style="" class="btn btn-secondary mr-1 mb-1">-</button>
									<button type="button" style="" class="btn btn-primary mr-1 mb-1">+</button>
								
								</div>
							</div>
						</div>
					
						<div class="card">
                                <div class="card-header">
                                </div>
                     *           <div class="card-content">
                                    <div class="card-body">
                                        <!-- Button trigger for scrolling content modal -->
<!--                                         <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalScrollable">
                                            Launch demo modal
                                        </button> -->

                                        <!--scrolling content Modal -->
                                        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" style="display: none;" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Configure the field</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <i class="bx bx-x"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <fieldset class="form-group">
															<label for="basicInput">FIELD NAME</label> 
															<input type="text" class="form-control" id="basicInput"/>
														</fieldset>
														<fieldset class="form-group">
															
															<table>
																<tr>
																	<td><label for="basicInput">START POSITION</label> </td>
																	<td><label for="basicInput">LENGTH</label> </td>																	
																<tr>
																<tr>
																	<td><input type="text" class="form-control" id="basicInput" /></td>
																	<td><input type="text" class="form-control" id="basicInput" /></td>																	
																<tr>																
															</table>
														</fieldset>
														<fieldset class="form-group">
															<label for="basicInput">DATATYPE</label> 
															<select class="form-control" id="basicSelect">
					*											<option>Text</option>
																<option>Number</option>
																<option>Boolean</option>
																<option>AlphaNumeric</option>
																<option>Date</option>
																<option>CustomDataType</option>
																<option>DefaultValue</option>
															</select>	
														</fieldset>
														<fieldset class="form-group">
															<label for="basicInput">DEFAULT_VALUE (Separate by "|")</label> 
															<input type="text" class="form-control" id="basicInput"/>
														</fieldset>
														<fieldset class="form-group">
															<table>
																<tr>
																	<td><label for="basicInput">MIN(Start) VALUE</label> </td>
																	<td><label for="basicInput">MAX(End) VALUE</label> </td>																	
																<tr>
																<tr>
																	<td><input type="text" class="form-control" id="basicInput" /></td>
																	<td><input type="text" class="form-control" id="basicInput" /></td>																	
																<tr>																
															</table>															
														</fieldset>
														<fieldset class="form-group">
															<label for="basicInput">GENERATE_TYPE</label> 
															<select class="form-control" id="basicSelect">
																<option></option>
																<option>Random</option>
																<option>Custom</option>
																<option>Increment</option>
																<option>Decrement</option>																
															</select>
														</fieldset>		
														<fieldset class="form-group">
															<label for="basicInput">CUSTOM_DATA_FORMAT</label> 
															<input type="text" class="form-control" id="basicInput"/>
					*									</fieldset>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Close</span>
                                                        </button>
                                                        <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                                            <i class="bx bx-check d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">UPDATE</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>	
					</div>
				</section>
				<!--/ Zero configuration table -->

			</div>
		</div>
	</div>
	<!-- END: Content-->




	<div class="sidenav-overlay"></div>
	<div class="drag-target"></div>

	<!-- BEGIN: Footer-->
	<footer class="footer footer-static footer-light">
		<p class="clearfix mb-0">
			<span class="float-left d-inline-block"></span><span
				class="float-right d-sm-inline-block d-none"></span>
			<button class="btn btn-primary btn-icon scroll-top" type="button">
				<i class="bx bx-up-arrow-alt"></i>
			</button>
		</p>
	</footer>
	<!-- END: Footer-->


	<!-- BEGIN: Vendor JS-->
	<script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
	<script
		th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js}"></script>
	<script
		th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js}"></script>
	<script th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js}"></script>
	<!-- BEGIN Vendor JS-->

	<!-- BEGIN: Page Vendor JS-->
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/datatables.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
	<script
		th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
	<!-- END: Page Vendor JS-->

	<!-- BEGIN: Theme JS-->
	<script th:src="@{/app-assets/js/core/app-menu.js}"></script>
	<script th:src="@{/app-assets/js/core/app.js}"></script>
	<script th:src="@{/app-assets/js/scripts/components.js}"></script>
	<script th:src="@{/app-assets/js/scripts/footer.js}"></script>
	<!-- END: Theme JS-->

	<!-- BEGIN: Page JS-->
	<script th:src="@{/app-assets/js/scripts/datatables/datatable.js}"></script>
	<!-- END: Page JS-->
	<script>
		$(document).ready(function(){
			//-------------------------------------------------------------------------
			//-------------------------------------------------------------------------
			 
			 
			var token = $('#_csrf').attr('content');
			var header = $('#_csrf_header').attr('content');

			//$($(this).attr("data-target")).modal("show");
			//$("#exampleModalScrollable").modal();
		
			$(".profilelayoutTable").click(function(){
				var $id = $(this).closest("tr").find(".LineID").attr("id");         
				$("#LineID").val($id);
				$("#orderID").val($("#orderID"+$id).text());
				$("#lineType").val($("#lineType"+$id).text());
				$("#lineTitle").val($("#lineTitle"+$id).text());
				$("#lineLength").val($("#lineLength"+$id).text());
			});
			
			$("#updateLayoutInfo").click(function(){
				
				var $id = $("#LineID").val();
				$("#orderID"+$id).text($("#orderID").val());
				$("#lineType"+$id).text($("#lineType").val());
				$("#lineTitle"+$id).text($("#lineTitle").val());
				$("#lineLength"+$id).text($("#lineLength").val());
				//debugger;
				if ($("#orderID").val() == "" || $("#lineTitle").val() == "" || $("#lineLength").val() == "") {
					alert("Please fill all the fields");
				} else {
					
					var LineID=$("#LineID").val();
					if(LineID=="")
						{
						LineID="new";
						}
					
					var formData = {
									id :LineID,
									profileID : $(".profileID").val(),
									orderID : $("#orderID").val(),
									lineType : $('#lineType').val(),
									lineTitle : $("#lineTitle").val(),
									lineLength : $("#lineLength").val()
									}
								
					$.ajax({
		                        type: "POST",
		                        url: "profileLayoutSaveJS",
		                        data : formData,
		                        beforeSend: function(xhr) {
		                            xhr.setRequestHeader(header, token);
		                        },

		                        success: function(data, textStatus, jqXHR) {
		                            alert(data);
		                            location.reload();
		                        },
		                        error: function(request, status, error) {
		                            alert(data);
		                        }
		                    });	

				}

			});

			//--------------------------------------------------------------------------------------------------------------------------------------		 
			//--------------------------------------------------------------------------------------------------------------------------------------		 		
			$("#btnlayoutRowDelete").click(function(){
				
			var r = confirm("Are you sure to delete");
			if (r == true) {
			
				var sList = "";
				$('input[type=checkbox]').each(function () {

					if($(this).is(':checked') && ($(this).attr("class")=="checkbox-input ChkboxlayoutRow"))
		            {	
						 $(this).parent().parent().parent().fadeTo(400, 0, function () { 
						        $(this).remove();
						    });
						var deleteID=$(this).attr("id").replace("checkbox","");
						var formData = {
								id :deleteID
								}
							
						$.ajax({
	                        type: "POST",
	                        url: "profileLayoutDeleteJS",
	                        data : formData,
	                        beforeSend: function(xhr) {
	                            xhr.setRequestHeader(header, token);
	                        },

	                        success: function(data, textStatus, jqXHR) {
	                            alert(data);
	                            
	                        },
	                        error: function(request, status, error) {
	                            alert(data);
	                            location.reload();
	                        }
	                    });	
		             
		            }
				    
				});
				LineID=$("#LineID").val('');
			}	
			});
			//--------------------------------------------------------------------------------------------------------------------------------------		 
			//--------------------------------------------------------------------------------------------------------------------------------------		 		
			$("#btnlayoutRowAdd").click(function(){
				$("#LineID").val("new");
				$("#orderID").val("");
				$("#lineTitle").val("");
				$("#lineLength").val("");
		
			});
			//--------------------------------------------------------------------------------------------------------------------------------------		 
			//--------------------------------------------------------------------------------------------------------------------------------------		 		
			
			
		});
	</script>
</body>
<!-- END: Body-->

</html>